*{
    margin: 0px;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: url(arpad-czapp-JZ2lKW6TzHU-unsplash.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    color: white;
}

body{
    display: grid;
    grid-template-rows: 1fr 30px;
}

.cont1{
    display: grid;
    grid-template-rows: 4vw 4vw;
    align-content: center;
    align-items: center;
    justify-items: center;
}

h1{
    font-size: 5vw;
}

.congrats{
    font-size: 2vw;
}

.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

a{
    /* padding-left: 10px; */
    text-decoration: none;
    color: white;
}
